[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=zetta
WorkingDirectory=/home/zetta/sites/DOMAIN
EnvironmentFile=/home/zetta/sites/DOMAIN/.env

ExecStart=/home/zetta/sites/DOMAIN/virtualenv/bin/gunicorn \
	--bind unix:/tmp/DOMAIN.socket \
	superlists.wsgi:application

[Install]
WantedBy=multi-user.target
